<div class="col-4 my-4" style="width:600px">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-text">{{_id}}</h5>
            <p class="card-text">{{description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><del>{{price-be}}$</del></li>
            <li class="list-group-item"><h5>{{price-af}}$</h5></li>
            {{#if status}}
              <li class="list-group-item" style="color:green;"><b>Active</b></li>
              {{else}}
              <li class="list-group-item" style="color:red;"><b>Inactive</b></li>
            {{/if}}
          </ul>
          <div class="card-body">
            <a href="/show/{{_id}}" class="card-link btn btn-outline-info">Show</a>
            <a href="/edit/{{_id}}" class="card-link btn btn-outline-success">Edit</a>
            <a href="/delete/{{_id}}" class="card-link btn btn-outline-danger">Delete</a>
          </div>
          <div class="card-body list-group-item">
            {{#if status}}
              <a href="/deactivate/{{_id}}" class="card-link btn btn-success">deactivate</a>
              {{else}}
              <a href="/activate/{{_id}}" class="card-link btn btn-danger">activate</a>
            {{/if}}
          </div>
        </div>
      </div>