{{>navbar}}
<section class="container">
  <div class="row jsutify-content-center">
      <div class="col-12 my-4" style="width:600px">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{productData.name}}</h5>
            <h6 class="card-text">{{productData.id}}</h5>
            <p class="card-text">{{productData.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><del><h5>{{productData.price-be}}$</h5></del></li>
            <li class="list-group-item"><h5>{{productData.price-af}}$</h5></li>
            {{#if productData.active}}
              <li class="list-group-item" style="color:green;"><b>Active</b></li>
              {{else}}
              <li class="list-group-item" style="color:red;"><b>Inactive</b></li>
            {{/if}}
          </ul>
          <div class="card-body">
            <a href="/edit/{{productData.id}}" class="card-link btn btn-outline-success">Edit</a>
            <a href="/delete/{{productData.id}}" class="card-link btn btn-outline-danger">Delete</a>
          </div>
          <div class="card-body list-group-item">
            {{#if productData.active}}
              <a href="/deactivate/{{productData.id}}" class="card-link btn btn-success">deactivate</a>
              {{else}}
              <a href="/activate/{{productData.id}}" class="card-link btn btn-danger">activate</a>
            {{/if}}
          </div>
        </div>
      </div>
  </div>
</section>
{{>footer}}